contourpy==1.3.1
cycler==0.12.1
fonttools==4.57.0
kiwisolver==1.4.8
matplotlib==3.10.1
numpy==2.2.4
packaging==24.2
# Editable Git install with no remote (peak-detection==0.1.0)
-e /home/rahul/projects/mhedas/1st_year/q1/biomedical_sensors_and_signal_processing/assessments/a02_signal_processing
pillow==11.1.0
pyparsing==3.2.3
python-dateutil==2.9.0.post0
scipy==1.15.2
six==1.17.0
